[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
aiohttp = "*"
asyncio = "*"
"discord.py" = "*"
python-a2s = "*"

[dev-packages]

[requires]
python_version = "3.8"
